<!-- <h1>{{post.title}}</h1>
<app-likes-count [likes-count]="tweet.likesCount" [is-liked]="tweet.isLiked"></app-likes-count>
<courses [is-favourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></courses> -->

<!-- <app-zippy name="Shipping Details">
    Shipping details content
</app-zippy> -->

<!-- <input type="text" [appInputFormat]="'uppercase'"> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-course></app-course> -->
<!-- <app-signup-form></app-signup-form> -->
<!-- <app-change-password></app-change-password> -->
<!-- <app-posts></app-posts> -->
<!-- <app-github-followers></app-github-followers> -->
<app-navigation></app-navigation>
<router-outlet></router-outlet>